<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Suite" >
    <test name="Parallel Test">
        <classes>
            <class name="tests.FetchingWeather">
                <methods>
                    <include name="searchByCityName"></include>
                    <include name="searchByCityID"></include>
                    <include name="searchByGeographicalLocation"></include>
                    <include name="searchByZipCode"></include>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->